<div class="form-container -cliente">
    <div class="wrapper">
        <div class="heading">
            <h1 class="legend">Editando cliente</h1>
        </div>

        <%= render 'form', cliente: @cliente %>

        <div class="actions">
            <%= link_to 'Ver cliente', cliente_path, class: "action -show" %>
            <%= link_to '<i class="fas fa-reply"></i> Voltar'.html_safe, clientes_path, class: "action -back" %>
        </div>
    </div>
</div>