<div class="form-container -cliente">
    <div class="wrapper">
        <div class="heading">
            <h1 class="legend">Cadastro de cliente</h1>
            <p class="note">Cadastre um cliente na loja e ele recebe um email de confirmação de cadastro</p>
        </div>

        <%= render 'form', cliente: @cliente %>

        <div class="actions">
            <%= link_to '<i class="fas fa-reply"></i> Voltar'.html_safe, clientes_path, class: "action -back" %>
        </div>
    </div>
</div>