<div class="form-container -admin">
    <div class="wrapper">
        <div class="heading">
            <h1 class="legend">Cadastro de administrador</h1>
            <p class="note">Convide um usuário para ser administrador da loja</p>
        </div>

        <%= render 'form', admin: @admin %>

        <div class="actions">
            <%= link_to '<i class="fas fa-reply"></i> Voltar'.html_safe, admins_path, class: "action -back" %>
        </div>
    </div>
</div>
