<div class="private-wrapper">
	<div class="content">
		<i class="fa fa-exclamation-triangle"></i>
		<h1 class="title">
            Rota privada
        </h1>
		<p class="description">
            O acesso a essa página só é permitido para administradores
        </p>

		<%= link_to '<i class="fas fa-reply"></i> Voltar para a página inicial'.html_safe, root_path, class: "action -back" %>
	</div>

</div>
