<div class="form-container -categoriasprodutos">
    <div class="wrapper">
        <div class="heading">
            <h1 class="legend">Cadastro de categoria de produto</h1>
        </div>

        <%= render 'form', categorias_produto: @categorias_produto %>

        <div class="actions">
            <%= link_to '<i class="fas fa-reply"></i> Voltar'.html_safe, categorias_produtos_path, class: "action -back" %>
        </div>
    </div>
</div>
