<p id="notice"><%= notice %></p>

<div class="container-info -produtoscompras">
  <div class="heading">
      <h1 class="title">Produtos da compra</h1>
  </div>

  <div class="wrapper">
      <div class="info-table -produtoscompras">
          <table class="table">
              <thead>
                  <tr class="table-heading">
                      <th class="item -compra">Compra ID</th>
                      <th class="item -name">Nome do produto</th>
                      <th class="item -qty">Quantidade</th>
                      <th></th>
                  </tr>
              </thead>

              <tbody class="table-info">
                <!-- <#% @produtos_compras.each do |produto_compra| %> -->
                  <tr class="list">
                    <td class="item -compra" data-th="Compra ID">1</td>
                      <td class="item -name" data-th="Nome do produto">Biquini asa delta</td>
                      <td class="item -qty" data-th="Quantidade">10</td>
                  </tr>
                <!-- <%# end %> -->
              </tbody>
          </table>
      </div>
  </div>
</div>
