<div class="content">
    <div class="finish-shopping">
    </div>

    <div class="added-products">
        <ul class="list">

        </ul>
    </div>

    <div class="cart-options">

    </div>
</div>
