<%if !notice.blank?%>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="form-container -produto">
    <div class="wrapper">
        <div class="heading">
            <h1 class="legend">Cadastro de produto</h1>
        </div>

        <%= render 'form', produto: @produto %>

        <div class="actions">
            <%= link_to '<i class="fas fa-reply"></i> Voltar'.html_safe, produtos_path, class: "action -back" %>
        </div>
    </div>
</div>
