<%if !notice.blank?%>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="info-container -produto">
	<div class="heading">
		<h1 class="title">Produto</h1>
	</div>

	<div class="wrapper">
		<div class="info-box -produto">
			<div class="content">
				<p class="item -foto">
					<%=  image_tag "produto-img2.png", class: "img", alt: "Imagem do produto" %>
				</p>

				<p class="item -name"><strong>Nome:</strong> Moda</p>
				<p class="item -price"><strong>Preço:</strong> R$ 89,90</p>
				<p class="item -qty"><strong>Quantidade estoque:</strong> 10</p>
			</div>
			<div class="actions">
				<%= link_to 'Editar', edit_produto_path, class: "action -underlined -edit" %>
				<%= link_to 'Voltar', produtos_path, class: "action -underlined -back" %>
			</div>
		</div>
	</div>
</div>
