<div class="product-wrapper">
    <h1 class="title">Biquini Asa Delta</h1>

    <div class="image">
        <%=  image_tag "produto-img2.png", class: "img", alt: "Imagem do produto" %> 
    </div>
    <div class="info">
        <h1 class="price"> R$ 89,90</h1>

        <div class="actions">
            <div class="control-qty">
                <button type="button" class="control -minus">
                    <i class="fa fa-minus"></i>
                </button>
                <input type="number" class="qty" value="1" min="0" />
                <button type="button" class="control -plus">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <a href="#" class="action -tocart">Adicionar ao carrinho</a>
        </div>
    </div>
</div>