<div class="product-wrapper">
    <h1 class="title"><%= @produto.nome %></h1>

    <div class="image">
        <%=  image_tag @produto.foto, class: "img", alt: "Imagem do produto" %>
    </div>
    <div class="info">
        <h1 class="price">
            R$ <%= @produto.preco.blank? ? "0.0" : number_with_precision(@produto.preco.blank? ? "0.0" : @produto.preco, :precision => 2, separator: ",", :delimiter => '.')%>
        </h1>

        <div class="actions">
            <div class="control-qty">
                <button type="button" class="control -minus">
                    <i class="fa fa-minus"></i>
                </button>
                <input type="number" class="qty" value="1" min="0" />
                <button type="button" class="control -plus">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <a href="#" class="action -tocart">Adicionar ao carrinho</a>
        </div>
    </div>
</div>
