@import "reset.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "variables.scss";
@import "general.scss";
@import "header.scss";

// GENERAL
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $main-font;
}

.page-main {
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-max-width;
    padding-bottom: $grid-margin+$spacing;
    padding-left: $grid-margin;
    padding-right: $grid-margin;
    padding-top: $spacing;
    width: 100%;

    @include breakpoint(mobile) {
        max-width: 100%;
        padding: $grid-margin/2;
    }
}

.-underlined {
    &:hover {
        text-decoration: underline !important;
    }
}

.page-title {
    margin-bottom: $grid-margin;

    >.title {
        color: $text-color;
        font-size: 32px;
        font-weight: 600;

        @include breakpoint(mobile) {
            font-size: 24px;
            text-align: center;
        }
    }

    @include breakpoint(mobile) {
        margin-bottom: $spacing;
    }
}

.img {
    height: auto;
    max-width: 100%;
}


// HEADER

.page-header {
    background-color: #fbf6f2;

    >.content {
        align-items: center;
        display: flex;
        margin: 0 auto;
        max-width: 1240px;
        min-height: 45px;
        padding: 0 40px;

        >.logo {
            background-color: $alternate-color-light;
            padding: 12px 20px;

            >.img {
                @include breakpoint(mobile) {
                    max-width: 132px;
                }
            }

            >.title {
                color: $text-color-white;
                font-family: $bold-font;
                font-size: 22px;
            }

            &:hover {
                background-color: $alternate-color;
            }

            @include breakpoint(mobile) {
                height: auto;
                margin: 0;
                margin-left: auto;
                position: static;
            }
        }

        >.-toggle {
            display: none;

            &:before {
                color: $alternate-color;
                content: $icon-toggle;
                font-family: $icon-font;
                font-size: 26px;
                font-weight: 700;
            }

            @include breakpoint(mobile) {
                align-items: center;
                color: $text-color-menu;
                cursor: pointer;
                display: flex;
                flex-shrink: 0;
                height: 40px;
                justify-content: center;
                position: static;
                width: 40px;
            }
        }

        @include breakpoint(mobile) {
            max-width: 100%;
            min-height: 80px;
            padding: 10px 20px;
        }
    }

}

// USER BUTTON

.user-space {
    margin-left: auto;
    position: relative;

    >.button {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 40px;
        width: 40px;

        &:before {
            color: $alternate-color;
            content: $icon-user;
            font-family: $icon-font;
            font-size: 22px;
            font-weight: 700;
        }

        &:hover {
            &:before {
                color: $alternate-color-light;
            }
        }
    }

    >.options {
        background-color: $headermenus-background-color;
        border: 2px solid $light-border-color;
        display: none;
        min-width: 170px;
        position: absolute;
        right: -10px;
        top: 42px;
        z-index: 2;

        &::before {
            border-bottom: 12px solid $light-border-color;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            right: 16px;
            top: -12px;
            width: 0;
        }

        &::after {
            border-bottom: 10px solid #FFF;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            right: 18px;
            top: -10px;
            width: 0;
        }

        &.-active {
            display: block;
        }

        >.list {
            padding: 20px 0;

            >.item {
                padding: 5px 20px;

                >.link {
                    color: $text-color;
                    font-size: 16px;
                }
            }
        }
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

// CART

.cart-container {
    position: relative;

    > .button {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 40px;
        position: relative;
        width: 40px;

        &:before {
            color: $alternate-color;
            content: $icon-cart;
            font-family: $icon-font;
            font-size: 22px;
            font-weight: 700;
        }

        &:hover {
            &:before {
                color: $alternate-color-light;
            }
        }

        > .counter {
            align-items: center;
            background-color: $alternate-color-light;
            border-radius: 50%;
            color: $text-color-white;
            display: flex;
            font-family: $semibold-font;
            font-size: 12px;
            height: 18px;
            justify-content: center;
            position: absolute;
            top: 2px;
            right: 0;
            width: 18px;
        }
    }

    .content {
        background-color: $headermenus-background-color;
        border: 2px solid $light-border-color;
        display: none;
        flex-direction: column;
        position: absolute;
        right: -10px;
        top: 42px;
        width: 360px;
        z-index: 2;

        &::before {
            border-bottom: 12px solid $light-border-color;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            right: 16px;
            top: -12px;
            width: 0;
        }

        &::after {
            border-bottom: 10px solid #FFF;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            right: 18px;
            top: -10px;
            width: 0;
        }

        &.-active {
            display: flex;
        }
    }

    @include breakpoint(mobile) {
        margin-left: auto;
    }

    @include breakpoint(tablet) {
        margin-left: 20px;
    }
}

.finish-shopping {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    border-bottom: 2px solid $light-border-color;

    >.prices {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        >.label {
            color: $text-color;
            font-size: 20px;
            text-align: left;
            width: 50%;
        }

        >.price {
            color: $text-color;
            font-size: 20px;
            text-align: right;
            width: 50%;
        }
    }

    >.finish {
        display: flex;

        >.action {
            align-items: center;
            background-color: $alternate-color-light;
            border-radius: 5px;
            color: $text-color-white;
            display: flex;
            font-family: $bold-font;
            font-size: 18px;
            justify-content: center;
            min-height: 50px;
            padding: 10px 15px;
            width: 100%;

            &:hover {
                background-color: $alternate-color;
            }
        }
    }
}


.added-products {
    border-bottom: 2px solid $light-border-color;
    overflow: hidden;

    >.list {
        max-height: 180px;
        overflow-y: auto;

        >.product {
            padding: $spacing;

            >.actions {
                display: flex;
                justify-content: flex-end;

                >.action {
                    align-items: center;
                    border-radius: 5px;
                    color: $text-color-white;
                    display: flex;
                    font-family: $bold-font;
                    height: 30px;
                    justify-content: center;
                    width: 30px;

                    &.-add {
                        background-color: $tocart-background-color;

                        &:before {
                            content: $icon-cart-add;
                            font-family: $icon-font;
                            font-size: 12px;
                            font-weight: 700;
                        }

                        &:hover {
                            background-color: $success-color-darker;
                        }
                    }

                    &.-remove {
                        background-color: $danger-color;
                        margin-left: 5px;

                        &:before {
                            content: $icon-trash;
                            font-family: $icon-font;
                            font-size: 12px;
                        }

                        &:hover {
                            background-color: $danger-color-darker;
                        }
                    }
                }
            }

            &+.product {
                border-top: 1px solid $light-border-color;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.minimal-details {
    display: flex;

    >.image {
        display: flex;
        flex-shrink: 0;
        height: 100px;
        position: relative;
        width: 80px;

        >.qty {
            align-items: center;
            background-color: $alternate-color;
            border-radius: 50%;
            color: $text-color-white;
            display: flex;
            font-family: $semibold-font;
            font-size: 12px;
            font-weight: 500;
            height: 23px;
            justify-content: center;
            position: absolute;
            width: 23px;
            right: -10px;
            top: -10px;
        }

        >.link {
            display: block;
        }
    }

    >.attributes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px;

        >.name {
            color: $text-color;
            display: block;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        >.attribute {
            color: $text-color;
            display: block;
            font-size: 12px;
        }
    }

    >.price {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;

        >.subtotal {
            color: $text-color;
            font-size: 16px;
        }
    }
}


.cart-options {
    padding: 20px;

    >.action {
        align-items: center;
        border-radius: 5px;
        border: 2px solid $light-border-color;
        color: $text-color;
        display: flex;
        height: 40px;
        justify-content: center;
        width: 100%;

        &:hover {
            background-color: $light-border-color;
        }
    }
}

// MENU NAV
.menu-navigation {
    padding: 0 $spacing;

    >.list {
        display: flex;
        flex-wrap: wrap;

        @include breakpoint(mobile) {
            flex-direction: column;
            padding: $spacing 0;
        }
    }

    @include breakpoint(mobile) {
        margin: 0;
        max-width: 100%;
        overflow-y: auto;
        padding: 0;
    }

    &.-visible {
        @include breakpoint(mobile) {
            box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
            left: 0;
        }
    }

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        height: 100%;
        left: calc(-1 * (100% - 60px));
        overflow: auto;
        position: fixed;
        top: 0;
        transition: left .3s;
        width: 80%;
        width: calc(100% - 60px);
        z-index: 10;
    }
}

.menu-item {
    display: flex;

    >.link {
        color: $alternate-color;
        font-family: $semibold-font;
        font-size: 16px;
        height: 100%;
        padding: 15px 10px;

        &:hover {
            background-color: $alternate-color-light;
            color: $text-color-white;
        }

        @include breakpoint(mobile) {
            width: 100%;
        }
    }
}

body {
    >.page-wrapper {
        @include breakpoint(mobile) {
            left: 0;
            position: relative;
            transition: left .3s;
        }
    }

    &.-open {
        >.page-wrapper {
            @include breakpoint(mobile) {
                left: calc(100% - 60px);
                overflow: hidden;
                position: relative;
            }
        }

        @include breakpoint(mobile) {
            overflow: hidden;
        }
    }
}

.header-profile {
    background-color: $alternate-color;

    >.header {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        padding: 15px $spacing;

        >.photo {
            align-items: center;
            background-color: #fff;
            border-radius: 50%;
            box-sizing: border-box;
            display: flex;
            height: 40px;
            justify-content: center;
            width: 40px;
        }

        >.text {
            padding-left: 10px;

            >.note {
                color: $text-color-white;
                font-size: 14px;
                font-weight: 500;
            }

            >.info {
                color: $text-color-white;
                font-size: 14px;
                margin-top: 5px;

                >.link {
                    color: $text-color-white;
                    font-weight: 500;
                    text-decoration: underline !important;
                }
            }

            >.email {
                color: $text-color-white;
                font-size: 14px;
                margin-top: 5px;
            }
        }
    }

    &.-logged {
        >.header {
            >.text {
                >.info {
                    display: none;
                }
            }

            >.photo {
                border: 2px solid $success-text-color;
            }
        }
    }

    @include breakpoint(tablet) {
        display: none;
    }
}

.account-links {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;

    >.list {
        display: flex;

        >.item {
            flex-grow: 1;

            >.link {
                align-items: center;
                color: $text-color-white;
                display: flex;
                font-family: $bold-font;
                font-size: 14px;
                justify-content: center;
                padding: 15px 20px;
                text-transform: uppercase;
            }
        }
    }
}

.menu-bottom {
    border-top: 2px solid $light-border-color;
    padding: $spacing;

    >.links {
        .action {
            color: $alternate-color;
            font-size: 16px;
        }
    }

    @include breakpoint(tablet) {
        display: none;
    }
}

// LISTAGEM DE PRODUTOS HOME
.products-list {
    >.list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -$spacing;
        margin-right: -$spacing;

        >.item {
            flex-basis: 50%;
            margin-bottom: $grid-margin;
            padding: 0 $spacing;

            @include breakpoint(desktop-small) {
                flex-basis: 25%;
            }
        }
    }

    >.title {
        color: $alternate-color;
        font-family: $semibold-font;
        font-size: 40px;
        margin-bottom: $spacing*2;
        text-align: center;

        @include breakpoint(mobile) {
            font-size: 32px;
        }
    }

    *+& {
        margin-top: $grid-margin;
    }
}

.product-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: auto;

    >.product-image {
        display: flex;
        justify-content: center;
    }

    >.details {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;

        .actions {
            display: flex;
            justify-content: center;
            padding-top: 10px;
            width: 100%;


            >.action {
                background-color: transparent;
                border: 2px solid $primary-color;
                border-radius: 5px;
                color: $primary-color;
                padding: 10px 15px;
                font-family: $semibold-font;
                font-size: 14px;
                text-align: center;
                text-transform: uppercase;
                width: 100%;

                &:hover,
                &:active,
                &:focus {
                    background-color: $primary-color;
                    color: $text-color-white;
                }
            }
        }
    }
}

.product-name {
    display: flex;
    justify-content: center;
    height: auto;
    hyphens: auto;
    margin: auto 0 0;
    max-height: 73px;
    padding: 10px 0 20px;

    >.name {
        color: $text-color;
        display: -webkit-box;
        font-size: 18px;
        font-weight: 700;
        overflow: hidden;
        text-align: center;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.price-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: initial;
    margin: auto 0 0;

    >.price {
        font-size: 18px;
        font-weight: 700;
        padding-top: 10px;
    }
}

// PAGINA DE PRODUTO
.product-wrapper {
    display: flex;
    flex-wrap: wrap;

    >.title {
        color: $primary-color;
        flex-basis: 100%;
        font-family: $bold-font;
        font-size: 48px;
        margin: $grid-margin 0;
        text-align: center;
    }

    >.image {
        display: flex;
        flex-basis: 50%;
        justify-content: center;
        padding-right: $grid-margin;

        @include breakpoint(mobile) {
            flex-basis: 100%;
            margin-bottom: $grid-margin*2;
            padding-right: 0;
        }
    }

    >.info {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        justify-content: center;

        >.price {
            color: $primary-color;
            font-family: $semibold-font;
            font-size: 48px;
            margin-bottom: $grid-margin*2;
            text-align: center;
        }

        >.actions {
            display: flex;
            justify-content: center;

            >.action {
                align-items: center;
                background-color: $alternate-color;
                border-radius: 5px;
                color: $text-color-white;
                display: flex;
                flex-basis: 50%;
                font-family: $semibold-font;
                font-size: 20px;
                justify-content: center;
                min-height: 60px;
                padding: 10px 15px;
                text-align: center;

                &:before {
                    color: $text-color-white;
                    content: $icon-cart;
                    font-family: $icon-font;
                    font-size: 18px;
                    font-weight: 700;
                    margin-right: 5px;
                }

                &:hover {
                    background-color: $alternate-color-light;
                }

                @include breakpoint(mobile) {
                    flex-basis: 100%;
                }
            }

            @include breakpoint(mobile) {
                flex-direction: column;
            }
        }

        @include breakpoint(mobile) {
            flex-basis: 100%;
        }
    }
}

.control-qty {
    display: flex;
    flex-basis: 50%;
    justify-content: space-evenly;
    padding-right: $spacing;
    position: relative;
    text-align: center;
    width: 100%;

    >.control {
        background-color: $light-background-color;
        border: 2px solid $list-background-color-light;
        color: $text-color;
        cursor: pointer;
        font-size: 12px;
        line-height: 1;
        width: 33.33%;

        &.-minus {
            border-radius: 5px 0 0 5px;
            border-right: none;
        }

        &.-plus {
            border-left: none;
            border-radius: 0 5px 5px 0;
        }

        >i {
            font-size: 10px;
        }

        &:hover,
        &:focus {
            background-color: $alternate-color-light;
            color: $text-color-white;
        }
    }

    >.qty {
        background-color: transparent;
        border: 2px solid $list-background-color-light;
        color: $text-color;
        height: 100%;
        padding: 0;
        text-align: center;
        width: 33.33%;

        @include breakpoint(mobile) {
            height: 50px;
        }
    }

    @include breakpoint(mobile) {
        flex-basis: 100%;
        margin-bottom: $spacing;
        padding-right: 0;
    }

    // removendo arrows type number
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}

// LISTAGENS + TABELAS INDEX
.container-info {
    display: flex;
    flex-direction: column;
    width: 100%;

    > .heading {
        align-items: center;
        display: flex;
        margin-bottom: $spacing*2;

        >.title {
            color: $text-color;
            font-family: $semibold-font;
            font-size: 22px;
        }

        >.link {
            color: $button-background-color;
            font-size: 14px;
            padding-left: 10px;
        }
    }

    > .info {
        display: flex;
        margin-bottom: $spacing;

        > .link {
            align-items: center;
            background-color: $text-color-white;
            border: 2px solid $light-border-color;
            border-radius: 5px;
            color: #4A4A4A;
            display: flex;
            flex-basis: 20%;
            font-family: $semibold-font;
            font-size: 16px;
            justify-content: center;
            min-height: 50px;
            padding: 10px 15px;
            width: auto;

            > i {
                margin-right: 5px;
            }

            &:hover {
                background-color: $light-background-color;
            }
        }

        > .text {
            align-items: center;
            color: $text-color;
            display: flex;
            font-size: 16px;
            padding-left: $spacing;
        }
    }

    > .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        > .block {
            width: 50%;

            &.-account {
                padding-right: $grid-margin;
            }
        }

        >.action {
            align-items: center;
            background-color: $text-color-white;
            border: 2px solid $light-border-color;
            border-radius: 5px;
            color: $primary-color;
            display: flex;
            font-family: $bold-font;
            font-size: 14px;
            justify-content: center;
            margin-top: $spacing;
            min-height: 50px;
            padding: 10px 15px;
            width: auto;

            >i {
                font-size: 12px;
                margin-right: 5px;
            }

            &:hover {
                background-color: $background-color-light;
            }
        }

    }

    &+& {
        margin-top: $grid-margin;
    }
}

.info-table {
    background-color: $text-color-white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid $light-border-color;
    border-radius: 10px;
    width: 100%;

    >.table {
        width: 100%;
    }

    @include breakpoint(tablet) {
        overflow-x: auto;
    }
}

.table-heading {
    >.item {
        color: $text-color;
        font-size: 14px;
        font-weight: 500;
        padding: $spacing;
    }

    @include breakpoint(mobile) {
        display: none;
    }

    @include breakpoint(tablet) {
        border-bottom: 1px solid $light-border-color;
    }
}

.table-info {
    >.list {
        >.item {
            color: $text-color;
            font-size: 14px;
            padding: $spacing;
            text-align: center;

            @include breakpoint(mobile) {
                display: block;
                padding: 5px $spacing;
                text-align: left;

                &:before {
                    padding-right: 10px;
                    content: attr(data-th) ': ';
                    display: inline-block;
                    color: $text-color;
                    font-weight: 500;
                }
            }

            &.-img {
                >.img {
                    max-height: 100px;
                    max-width: 80px;
                }
            }

            &:first-of-type {
                @include breakpoint(mobile) {
                    padding-top: 20px;
                }
            }

            @include breakpoint(tablet) {
                vertical-align: middle;
            }
        }

        >.actions {
            padding: $spacing;

            >.action {
                color: $alternate-color;
                font-size: 14px;

                &+.action {
                    &:before {
                        border-left: 1px solid $border-color;
                        content: "";
                        display: inline-block;
                        height: 12px;
                        margin: 0 10px;
                        vertical-align: -1px;
                    }
                }
            }

            @include breakpoint(mobile) {
                display: block;
                padding: 5px 20px 20px;
                width: 100%;

                &:before {
                    padding-right: 10px;
                    content: attr(data-th) ': ';
                    display: inline-block;
                    color: $text-color;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            @include breakpoint(tablet) {
                text-align: right;
                vertical-align: middle;

                &.-produtos {
                    text-align: center;
                }
            }
        }

        &+& {
            border-top: 2px solid $border-color-light;
        }

        &:nth-child(odd) {
            background-color: $list-background-color;
        }

        @include breakpoint(mobile) {
            display: block;
        }

        &+.list {
            border-top: 1px solid $light-border-color;
        }
    }

    @include breakpoint(mobile) {
        display: block;
    }
}

// FORMULÁRIOS
.form-register {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    >.block {
        flex-basis: 50%;

        >.fieldset {
            >.label {
                color: $text-color-strong;
                display: block;
                font-size: 16px;
                margin-bottom: 10px;

                @include breakpoint(mobile) {
                    font-size: 14px;
                }
            }

            >.input,
            >.select {
                border: 2px solid $darker-border-color;
                border-radius: 5px;
                color: $text-color;
                font-size: 14px;
                min-height: 50px;
                padding: 10px 15px;
                width: 100%;

                @include breakpoint(mobile) {
                    min-height: 40px;
                }
            }

            >.select {
                background: $background-color-white url(asset_path('select-bg.svg')) no-repeat 100% 45%;
                background-color: $background-color-white;
                background-position: top 45% right 7px;
                background-size: 30px 60px;
                outline: none;
                padding-right: 40px;
                -webkit-appearance: none;
            }

            >.note {
                color: $text-color;
                font-size: 12px;
                margin-top: 10px;
            }

            &.-foto {
                >.input {
                    border: 0;
                    min-height: auto;
                    padding: 0;
                }
            }

            &+.fieldset {
                margin-top: $spacing;
            }
        }

        @include breakpoint(mobile) {
            flex-basis: 100%;
        }
    }

    >.actions {
        display: flex;
        flex-basis: 100%;
        justify-content: flex-start;
        margin-top: $spacing;

        >.-save {
            background-color: $alternate-color;
            border: 0;
            border-radius: 5px;
            color: $text-color-white;
            cursor: pointer;
            font-family: $semibold-font;
            font-size: 18px;
            min-height: 50px;
            padding: 10px 15px;
            text-align: center;
            width: auto;

            &:hover {
                background-color: $alternate-color-light;
            }

            @include breakpoint(mobile) {
                font-size: 14px;
                min-height: 40px;
                padding: 10px 10px;
            }
        }
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    >.wrapper {
        display: flex;
        flex-wrap: wrap;

        >.heading {
            margin-bottom: 30px;

            >.legend {
                color: $text-color;
                font-family: $bold-font;
                font-size: 22px;
            }

            >.note {
                color: $text-color;
                font-size: 14spx;
                margin-top: 5px;
            }
        }

        >.block {
            width: 50%;
        }

        >.actions {
            display: flex;
            margin-top: $spacing;

            >.action {
                align-items: center;
                background-color: #fff;
                border: 2px solid $light-border-color;
                border-radius: 5px;
                color: $text-color;
                display: flex;
                font-family: $semibold-font;
                font-size: 14px;
                justify-content: center;
                min-height: 50px;
                padding: 10px 15px;
                width: auto;

                >i {
                    font-size: 14px;
                    margin-right: 5px;
                }

                &+.action {
                    margin-left: 10px;
                }

                &:hover {
                    background-color: $light-background-color;
                }
            }
        }
    }

    &.-compra {
        > .wrapper {
            flex-direction: column;
        }
    }

    &+& {
        margin-top: $grid-margin;
    }
}


.info-container {
    >.heading {
        margin-bottom: 30px;

        >.title {
            color: $text-color;
            font-family: $bold-font;
            font-size: 22px;
        }
    }
}

.info-box {
    background-color: $text-color-white;
    border: 1px solid $light-border-color;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);

    >.content {
        padding: $spacing;

        >.item {
            color: $text-color;
            line-height: 1.5;

            >strong {
                font-family: $semibold-font;
            }
        }
    }

    >.actions {
        display: flex;
        padding: $spacing;

        >.action {
            color: $alternate-color;
            font-size: 14px;

            &+.action {
                &:before {
                    border-left: 1px solid $border-color;
                    content: "";
                    display: inline-block;
                    height: 12px;
                    margin: 0 10px;
                    vertical-align: -1px;
                }
            }
        }
    }

    @include breakpoint(mobile) {
        width: 100%;
    }

    @include breakpoint(tablet) {
        overflow-x: auto;
    }
}

// CHECKOUT

// BARRA DE PROGRESSO
.checkout-progress {
    counter-reset: i;
    display: flex;
    justify-content: center;
    margin-bottom: $grid-margin;
    width: 100%;

    >.item {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 160px;

        >.progress {
            align-items: center;
            background-color: transparent;
            border: 4px solid $light-border-color;
            border-radius: 50%;
            color: $progress-text-color;
            display: flex;
            font-weight: 500;
            font-size: 30px;
            height: 80px;
            justify-content: center;
            position: relative;
            width: 80px;

            &:before {
                content: counter(i);
                counter-increment: i;
            }
        }

        >.title {
            color: $progress-text-color;
            font-size: 17px;
            font-weight: 500;
            margin-top: $spacing;
        }

        &:not(:first-of-type) {
            margin-left: $grid-margin;
        }

        &:not(:last-of-type) {
            >.progress {
                &:after {
                    background-color: $progress-background-color;
                    border-radius: 100px;
                    content: "";
                    display: block;
                    height: 4px;
                    left: 100%;
                    margin-left: $spacing;
                    margin-right: $spacing;
                    position: absolute;
                    top: 50%;
                    width: 80px;
                }
            }
        }

        &.-active {
            >.progress {
                border-color: $success-text-color;
                color: $success-text-color;
            }

            >.title {
                color: $success-text-color;
                font-family: $semibold-font;
            }
        }

        &.-complete {
            >.progress {
                color: $success-text-color;
                border-color: $success-text-color;

                &:before {
                    content: "\f00c";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                }

                &:after {
                    background-color: $success-text-color;
                }
            }

            >.title {
                color: $success-text-color;
            }
        }
    }

}

.checkout-wizard {
    display: flex;
    justify-content: center;

    > .wrapper {
        background-color: $background-color-white;
        border: 2px solid $light-border-color;
        border-radius: 5px;
        font-family: $main-font;
        padding: $grid-margin;
        width: 70%;
        min-width: 300px;

        > .tab {
            display: none;

            > .legend {
                color: $text-color;
                flex-basis: 100%;
                font-family: $semibold-font;
                font-size: 22px;
                margin-bottom: $spacing;
                text-align: center;
            }

            > .fieldset {
                flex-basis: 50%;
                padding: 0 10px;
                margin-bottom: $spacing;

                > .label {
                    color: $text-color-strong;
                    display: block;
                    font-size: 16px;
                    margin-bottom: 15px;

                    > .required {
                        color: $required-text-color;
                    }

                    @include breakpoint(mobile) {
                        font-size: 14px;
                    }
                }

                > .input,
                > .select {
                    border: 2px solid $darker-border-color;
                    border-radius: 5px;
                    color: $text-color;
                    font-size: 14px;
                    min-height: 60px;
                    padding: 10px 15px;
                    width: 100%;

                    @include breakpoint(mobile) {
                        min-height: 40px;
                    }

                    &.-invalid {
                        border-color: $danger-color;
                    }
                }

                > .select {
                    background: $background-color-white url(asset_path('select-bg.svg')) no-repeat 100% 45%;
                    background-color: $background-color-white;
                    background-position: top 45% right 7px;
                    background-size: 30px 60px;
                    outline: none;
                    padding-right: 40px;
                    -webkit-appearance: none;
                }

                &.-address {
                    flex-basis: 100%;
                }

                &.-cliente {
                    flex-basis: 100%;
                    padding: 0;
                }
            }

            &.-active {
                display: flex;
                flex-wrap: wrap;
            }
        }

        .actions {
            display: flex;
            justify-content: space-between;
            margin-top: $spacing;

            > .action {
                align-items: center;
                background-color: $alternate-color;
                border: 0;
                border-radius: 5px;
                color: $text-color-white;
                cursor: pointer;
                display: flex;
                font-family: $semibold-font;
                font-size: 18px;
                justify-content: center;
                min-height: 50px;
                padding: 10px 15px;
                width: auto;

                &.-next {
                    margin-left: auto;

                    &.-hidden {
                        display: none;
                    }
                }

                &.-prev {
                    background-color: $text-color-white;
                    border: 2px solid $border-color;
                    color: $text-color;
                    display: none;

                    &.-visible {
                        display: flex;
                    }

                    &:hover {
                        background-color: $light-background-color;
                    }
                }

                &:hover {
                    background-color: $alternate-color-light;
                }
            }
        }

        @include breakpoint(mobile) {
            width: 100%;
        }
    }
}

// CARRINHO CHECKOUT
.summary-container {
    flex-basis: 100%;

    > .heading {
        border-bottom: 2px solid $light-border-color;
        display: flex;
        justify-content: space-between;
        margin-bottom: $spacing;
        padding: 15px 0;

        > .title {
            color: $text-color-darker;
            font-size: 20px;
        }

        > .price {
            color: $text-color;
            font-size: 18px;
        }
    }

    > .info {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;

        > .title {
            color: $text-color-darker;
            font-size: 20px;
        }

        > .price {
            color: $text-color;
            font-size: 18px;
        }

        & + .info {
            border-top: 2px solid $light-border-color;
        }
    }
}

.checkout-products {
    margin-bottom: 30px;

    > .list {
        margin-bottom: $spacing;

        > .product {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    > .action {
        align-items: center;
        border-radius: 5px;
        border: 2px solid $darker-border-color;
        color: $text-color;
        display: flex;
        font-size: 14px;
        height: 40px;
        justify-content: center;
        width: 100%;
    }
}


// FORMAS DE PAGAMENTO
.card-container {
    display: none;
    flex-wrap: wrap;
    margin: 0 -10px;

    > .fieldset {
        display: flex;
        flex-basis: 50%;
        padding: 0 10px;

        > .label {
            color: $text-color-strong;
            font-size: 16px;
            margin-bottom: 15px;
        }

        > .input {
            background-color: $background-color-white;
            border: 2px solid $darker-border-color;
            border-radius: 5px;
            color: $text-color;
            font-size: 16px;
            padding: 15px 15px;
            width: 100%;

            &.-invalid {
                border-color: $danger-color;
            }
        }

        &.-card,
        &.-name {
            margin-bottom: $spacing;
        }
    }

    &.-visible {
        display: flex;
    }
}

.payment-container {
    width: 100%;
}

.payment-forms {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing;

    > .fieldset {
        > .label {
            color: $text-color;
            cursor: pointer;
            display: flex;
            font-size: 16px;
            line-height: 1.2;
            margin-bottom: 12px;
            padding-left: 25px;
            position: relative;

            @include breakpoint(mobile) {
                font-size: 14px;
            }

            //input radio estilizado

            > .radio {
                cursor: pointer;
                opacity: 0;

                &:checked {
                    ~ .checkmark {
                        background-color: $alternate-color;

                        &:after {
                            display: block;
                        }
                    }

                }
            }

            > .checkmark {
                background-color: transparent;
                border: 2px solid $alternate-color;
                border-radius: 50%;
                height: 20px;
                left: 0;
                position: absolute;
                top: 0;
                width: 20px;


                &:after {
                    background-color: $text-color-white;
                    border-radius: 50%;
                    content: "";
                    display: none;
                    height: 10px;
                    left: 50%;
                    margin-top: -5px;
                    margin-left: -5px;
                    position: absolute;
                    top: 50%;
                    width: 10px;
                }
            }

            &:hover {
                > .radio {
                    ~ .checkmark {
                        background-color: $alternate-color;
                    }
                }
            }
        }
    }

}

.boleto-container {
    display: none;

    > .actions {
        display: flex;

        > .action {
            align-items: center;
            background-color: $alternate-color;
            border-radius: 5px;
            color: $text-color-white;
            display: flex;
            font-family: $semibold-font;
            font-size: 18px;
            justify-content: center;
            min-height: 50px;
            padding: 10px 15px;
            width: auto;

            > i {
                margin-right: 5px;
            }

            &:hover {
                background-color: $alternate-color-light;
            }
        }
    }

    &.-visible {
        display: block;
    }
}
