// CART

.cart-container {
    position: relative;

    > .button {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 40px;
        position: relative;
        width: 40px;

        &:before {
            color: $alternate-color;
            content: $icon-cart;
            font-family: $icon-font;
            font-size: 22px;
            font-weight: 700;
        }

        &:hover {
            &:before {
                color: $alternate-color-light;
            }
        }

        > .counter {
            align-items: center;
            background-color: $alternate-color-light;
            border-radius: 50%;
            color: $text-color-white;
            display: flex;
            font-family: $semibold-font;
            font-size: 12px;
            height: 18px;
            justify-content: center;
            position: absolute;
            top: 2px;
            right: 0;
            width: 18px;
        }
    }

    .content {
        background-color: $headermenus-background-color;
        border: 2px solid $light-border-color;
        display: none;
        flex-direction: column;
        position: absolute;
        right: -10px;
        top: 42px;
        width: 360px;
        z-index: 2;

        &::before {
            border-bottom: 12px solid $light-border-color;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            right: 16px;
            top: -12px;
            width: 0;
        }

        &::after {
            border-bottom: 10px solid #FFF;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            right: 18px;
            top: -10px;
            width: 0;
        }

        &.-active {
            display: flex;
        }
    }

    @include breakpoint(mobile) {
        margin-left: auto;
    }

    @include breakpoint(tablet) {
        margin-left: 20px;
    }
}

.finish-shopping {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    border-bottom: 2px solid $light-border-color;

    >.prices {
        display: flex;
        font-family: $semibold-font;
        justify-content: space-between;
        margin-bottom: 25px;

        >.label {
            color: $text-color;
            font-size: 20px;
            text-align: left;
            width: 50%;
        }

        >.price {
            color: $text-color;
            font-size: 20px;
            text-align: right;
            width: 50%;
        }
    }

    >.finish {
        display: flex;

        >.action {
            align-items: center;
            background-color: $alternate-color-light;
            border-radius: 5px;
            color: $text-color-white;
            display: flex;
            font-family: $bold-font;
            font-size: 18px;
            justify-content: center;
            min-height: 50px;
            padding: 10px 15px;
            width: 100%;

            &:hover {
                background-color: $alternate-color;
            }
        }
    }
}


.added-products {
    border-bottom: 2px solid $light-border-color;
    overflow: hidden;

    >.list {
        max-height: 180px;
        overflow-y: auto;

        >.product {
            padding: $spacing;

            >.actions {
                display: flex;
                justify-content: flex-end;

                >.action {
                    align-items: center;
                    border-radius: 5px;
                    color: $text-color-white;
                    display: flex;
                    font-family: $bold-font;
                    height: 30px;
                    justify-content: center;
                    width: 30px;

                    &.-add {
                        background-color: $tocart-background-color;

                        &:before {
                            content: $icon-cart-add;
                            font-family: $icon-font;
                            font-size: 12px;
                            font-weight: 700;
                        }

                        &:hover {
                            background-color: $success-color-darker;
                        }
                    }

                    &.-remove {
                        background-color: $danger-color;
                        margin-left: 5px;

                        &:before {
                            content: $icon-trash;
                            font-family: $icon-font;
                            font-size: 12px;
                        }

                        &:hover {
                            background-color: $danger-color-darker;
                        }
                    }
                }
            }

            &+.product {
                border-top: 1px solid $light-border-color;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.minimal-details {
    display: flex;
    font-family: $main-font;

    >.image {
        display: flex;
        flex-shrink: 0;
        height: 100px;
        position: relative;
        width: 80px;

        >.qty {
            align-items: center;
            background-color: $alternate-color;
            border-radius: 50%;
            color: $text-color-white;
            display: flex;
            font-family: $semibold-font;
            font-size: 12px;
            font-weight: 500;
            height: 23px;
            justify-content: center;
            position: absolute;
            width: 23px;
            right: -10px;
            top: -10px;
        }

        >.link {
            display: block;
        }
    }

    >.attributes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px;

        >.name {
            color: $text-color;
            display: block;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        >.attribute {
            color: $text-color;
            display: block;
            font-size: 12px;
        }
    }

    >.price {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;

        >.subtotal {
            color: $text-color;
            font-size: 16px;
        }
    }
}


.cart-options {
    padding: 20px;

    >.action {
        align-items: center;
        border-radius: 5px;
        border: 2px solid $light-border-color;
        color: $text-color;
        display: flex;
        font-family: $main-font;
        height: 40px;
        justify-content: center;
        width: 100%;

        &:hover {
            background-color: $light-border-color;
        }
    }
}
