// CHECKOUT

// BARRA DE PROGRESSO
/*.checkout-progress {
    counter-reset: i;
    display: flex;
    justify-content: center;
    margin-bottom: $grid-margin;
    width: 100%;

    >.item {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 160px;

        >.progress {
            align-items: center;
            background-color: transparent;
            border: 4px solid $light-border-color;
            border-radius: 50%;
            color: $progress-text-color;
            display: flex;
            font-weight: 500;
            font-size: 30px;
            height: 80px;
            justify-content: center;
            position: relative;
            width: 80px;

            &:before {
                content: counter(i);
                counter-increment: i;
            }
        }

        >.title {
            color: $progress-text-color;
            font-size: 17px;
            font-weight: 500;
            margin-top: $spacing;
        }

        &:not(:first-of-type) {
            margin-left: $grid-margin;
        }

        &:not(:last-of-type) {
            >.progress {
                &:after {
                    background-color: $progress-background-color;
                    border-radius: 100px;
                    content: "";
                    display: block;
                    height: 4px;
                    left: 100%;
                    margin-left: $spacing;
                    margin-right: $spacing;
                    position: absolute;
                    top: 50%;
                    width: 80px;
                }
            }
        }

        &.-active {
            >.progress {
                border-color: $success-text-color;
                color: $success-text-color;
            }

            >.title {
                color: $success-text-color;
                font-family: $semibold-font;
            }
        }

        &.-complete {
            >.progress {
                color: $success-text-color;
                border-color: $success-text-color;

                &:before {
                    content: "\f00c";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                }

                &:after {
                    background-color: $success-text-color;
                }
            }

            >.title {
                color: $success-text-color;
            }
        }
    }

}

.checkout-wizard {
    display: flex;
    justify-content: center;

    > .wrapper {
        background-color: $background-color-white;
        border: 2px solid $light-border-color;
        border-radius: 5px;
        font-family: $main-font;
        padding: $grid-margin;
        width: 70%;
        min-width: 300px;

        > .tab {
            display: none;

            > .legend {
                color: $text-color;
                flex-basis: 100%;
                font-family: $semibold-font;
                font-size: 22px;
                margin-bottom: $spacing;
                text-align: center;
            }

            > .fieldset {
                flex-basis: 50%;
                padding: 0 10px;
                margin-bottom: $spacing;

                > .label {
                    color: $text-color-strong;
                    display: block;
                    font-size: 16px;
                    margin-bottom: 15px;

                    > .required {
                        color: $required-text-color;
                    }

                    @include breakpoint(mobile) {
                        font-size: 14px;
                    }
                }

                > .input,
                > .select {
                    border: 2px solid $darker-border-color;
                    border-radius: 5px;
                    color: $text-color;
                    font-size: 14px;
                    min-height: 60px;
                    padding: 10px 15px;
                    width: 100%;

                    @include breakpoint(mobile) {
                        min-height: 40px;
                    }

                    &.-invalid {
                        border-color: $danger-color;
                    }
                }

                > .select {
                    background: $background-color-white url(asset_path('select-bg.svg')) no-repeat 100% 45%;
                    background-color: $background-color-white;
                    background-position: top 45% right 7px;
                    background-size: 30px 60px;
                    outline: none;
                    padding-right: 40px;
                    -webkit-appearance: none;
                }

                &.-address {
                    flex-basis: 100%;
                }

                &.-cliente {
                    flex-basis: 100%;
                    padding: 0;
                }
            }

            &.-active {
                display: flex;
                flex-wrap: wrap;
            }
        }

        .actions {
            display: flex;
            justify-content: space-between;
            margin-top: $spacing;

            > .action {
                align-items: center;
                background-color: $alternate-color;
                border: 0;
                border-radius: 5px;
                color: $text-color-white;
                cursor: pointer;
                display: flex;
                font-family: $semibold-font;
                font-size: 18px;
                justify-content: center;
                min-height: 50px;
                padding: 10px 15px;
                width: auto;

                &.-next {
                    margin-left: auto;

                    &.-hidden {
                        display: none;
                    }
                }

                &.-prev {
                    background-color: $text-color-white;
                    border: 2px solid $border-color;
                    color: $text-color;
                    display: none;

                    &.-visible {
                        display: flex;
                    }

                    &:hover {
                        background-color: $light-background-color;
                    }
                }

                &:hover {
                    background-color: $alternate-color-light;
                }
            }
        }

        @include breakpoint(mobile) {
            width: 100%;
        }
    }
}

// CARRINHO CHECKOUT
.summary-container {
    flex-basis: 100%;

    > .heading {
        border-bottom: 2px solid $light-border-color;
        display: flex;
        justify-content: space-between;
        margin-bottom: $spacing;
        padding: 15px 0;

        > .title {
            color: $text-color-darker;
            font-size: 20px;
        }

        > .price {
            color: $text-color;
            font-size: 18px;
        }
    }

    > .info {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;

        > .title {
            color: $text-color-darker;
            font-size: 20px;
        }

        > .price {
            color: $text-color;
            font-size: 18px;
        }

        & + .info {
            border-top: 2px solid $light-border-color;
        }
    }
}

.checkout-products {
    margin-bottom: 30px;

    > .list {
        margin-bottom: $spacing;

        > .product {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    > .action {
        align-items: center;
        border-radius: 5px;
        border: 2px solid $darker-border-color;
        color: $text-color;
        display: flex;
        font-size: 14px;
        height: 40px;
        justify-content: center;
        width: 100%;
    }
}


// FORMAS DE PAGAMENTO
.card-container {
    display: none;
    flex-wrap: wrap;
    margin: 0 -10px;

    > .fieldset {
        display: flex;
        flex-basis: 50%;
        padding: 0 10px;

        > .label {
            color: $text-color-strong;
            font-size: 16px;
            margin-bottom: 15px;
        }

        > .input {
            background-color: $background-color-white;
            border: 2px solid $darker-border-color;
            border-radius: 5px;
            color: $text-color;
            font-size: 16px;
            padding: 15px 15px;
            width: 100%;

            &.-invalid {
                border-color: $danger-color;
            }
        }

        &.-card,
        &.-name {
            margin-bottom: $spacing;
        }
    }

    &.-visible {
        display: flex;
    }
}

.payment-container {
    width: 100%;
}

.payment-forms {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing;

    > .fieldset {
        > .label {
            color: $text-color;
            cursor: pointer;
            display: flex;
            font-size: 16px;
            line-height: 1.2;
            margin-bottom: 12px;
            padding-left: 25px;
            position: relative;

            @include breakpoint(mobile) {
                font-size: 14px;
            }

            //input radio estilizado

            > .radio {
                cursor: pointer;
                opacity: 0;

                &:checked {
                    ~ .checkmark {
                        background-color: $alternate-color;

                        &:after {
                            display: block;
                        }
                    }

                }
            }

            > .checkmark {
                background-color: transparent;
                border: 2px solid $alternate-color;
                border-radius: 50%;
                height: 20px;
                left: 0;
                position: absolute;
                top: 0;
                width: 20px;


                &:after {
                    background-color: $text-color-white;
                    border-radius: 50%;
                    content: "";
                    display: none;
                    height: 10px;
                    left: 50%;
                    margin-top: -5px;
                    margin-left: -5px;
                    position: absolute;
                    top: 50%;
                    width: 10px;
                }
            }

            &:hover {
                > .radio {
                    ~ .checkmark {
                        background-color: $alternate-color;
                    }
                }
            }
        }
    }

}

.boleto-container {
    display: none;

    > .actions {
        display: flex;

        > .action {
            align-items: center;
            background-color: $alternate-color;
            border-radius: 5px;
            color: $text-color-white;
            display: flex;
            font-family: $semibold-font;
            font-size: 18px;
            justify-content: center;
            min-height: 50px;
            padding: 10px 15px;
            width: auto;

            > i {
                margin-right: 5px;
            }

            &:hover {
                background-color: $alternate-color-light;
            }
        }
    }

    &.-visible {
        display: block;
    }
}
*/
