// FORMULÃRIOS
/*.form-register {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    >.block {
        flex-basis: 50%;

        >.fieldset {
            >.label {
                color: $text-color-strong;
                display: block;
                font-size: 16px;
                margin-bottom: 10px;

                @include breakpoint(mobile) {
                    font-size: 14px;
                }
            }

            >.input,
            >.select {
                border: 2px solid $darker-border-color;
                border-radius: 5px;
                color: $text-color;
                font-size: 14px;
                min-height: 50px;
                padding: 10px 15px;
                width: 100%;

                @include breakpoint(mobile) {
                    min-height: 40px;
                }
            }

            >.select {
                background: $background-color-white url(asset_path('select-bg.svg')) no-repeat 100% 45%;
                background-color: $background-color-white;
                background-position: top 45% right 7px;
                background-size: 30px 60px;
                outline: none;
                padding-right: 40px;
                -webkit-appearance: none;
            }

            >.note {
                color: $text-color;
                font-size: 12px;
                margin-top: 10px;
            }

            &.-foto {
                >.input {
                    border: 0;
                    min-height: auto;
                    padding: 0;
                }
            }

            &+.fieldset {
                margin-top: $spacing;
            }
        }

        @include breakpoint(mobile) {
            flex-basis: 100%;
        }
    }

    >.actions {
        display: flex;
        flex-basis: 100%;
        justify-content: flex-start;
        margin-top: $spacing;

        >.-save {
            background-color: $alternate-color;
            border: 0;
            border-radius: 5px;
            color: $text-color-white;
            cursor: pointer;
            font-family: $semibold-font;
            font-size: 18px;
            min-height: 50px;
            padding: 10px 15px;
            text-align: center;
            width: auto;

            &:hover {
                background-color: $alternate-color-light;
            }

            @include breakpoint(mobile) {
                font-size: 14px;
                min-height: 40px;
                padding: 10px 10px;
            }
        }
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    >.wrapper {
        display: flex;
        flex-wrap: wrap;

        >.heading {
            margin-bottom: 30px;

            >.legend {
                color: $text-color;
                font-family: $bold-font;
                font-size: 22px;
            }

            >.note {
                color: $text-color;
                font-size: 14spx;
                margin-top: 5px;
            }
        }

        >.block {
            width: 50%;
        }

        >.actions {
            display: flex;
            margin-top: $spacing;

            >.action {
                align-items: center;
                background-color: #fff;
                border: 2px solid $light-border-color;
                border-radius: 5px;
                color: $text-color;
                display: flex;
                font-family: $semibold-font;
                font-size: 14px;
                justify-content: center;
                min-height: 50px;
                padding: 10px 15px;
                width: auto;

                >i {
                    font-size: 14px;
                    margin-right: 5px;
                }

                &+.action {
                    margin-left: 10px;
                }

                &:hover {
                    background-color: $light-background-color;
                }
            }
        }
    }

    &.-compra {
        > .wrapper {
            flex-direction: column;
        }
    }

    &+& {
        margin-top: $grid-margin;
    }
}

.info-container {
    >.heading {
        margin-bottom: 30px;

        >.title {
            color: $text-color;
            font-family: $bold-font;
            font-size: 22px;
        }
    }
}

.info-box {
    background-color: $text-color-white;
    border: 1px solid $light-border-color;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);

    >.content {
        padding: $spacing;

        >.item {
            color: $text-color;
            line-height: 1.5;

            >strong {
                font-family: $semibold-font;
            }
        }
    }

    >.actions {
        display: flex;
        padding: $spacing;

        >.action {
            color: $alternate-color;
            font-size: 14px;

            &+.action {
                &:before {
                    border-left: 1px solid $border-color;
                    content: "";
                    display: inline-block;
                    height: 12px;
                    margin: 0 10px;
                    vertical-align: -1px;
                }
            }
        }
    }

    @include breakpoint(mobile) {
        width: 100%;
    }

    @include breakpoint(tablet) {
        overflow-x: auto;
    }
}
*/
