/* Breakpoints */
$size-mobile: 768px;
$size-desktop-small: 1024px;
$size-desktop-large: 1440px;
$size-desktop-very-large: 1760px;

$size-special-desktop: 1200px;

/* Icons */
$icon-cart: "\f07a";
$icon-cart-add: "\f217";
$icon-trash: "\f2ed";
$icon-user: "\f007";
$icon-toggle: "\f0c9";

//
// Colors
// __________________________

$primary-color: #4a4a4a;
$alternate-color: #563F40;
$alternate-color-light: #c59883;
$alert-color: #ffeeba;
$alert-color-light: #fff3cd;
$alert-color-darker: #856404;
$danger-color: #d9534f;
$danger-color-light: lighten($danger-color, 20%);
$danger-color-darker: darken($danger-color, 10%);
$header-background-color: #f8ede4;

// Text
$text-color: #4A4A4A;
$text-color-darker: #4D4D4D;
$text-color-placeholder: #949494;
$text-color-white: #fff;
$text-color-black: #000;
$text-color-strong: #1a1a1a;


// Borders
$light-border-color: #EBEBEB;
$darker-border-color: #e6e6e6;

// Backgrounds
$light-background-color: #F7F7F7;

$headermenus-background-color: #FFF;
$background-color-light: #f0f0f0;
$tocart-background-color: #76d712;
$tocart-hover-background-color: darken($tocart-background-color, 15%);
$background-color-white: #fff;
$button-background-color: #4a90e2;
$button-hover-background-color: darken(#4a90e2, 12%);
$list-background-color: #f8f8f8;
$list-background-color-light: #e5e5e5;
$progress-background-color: #d8d8d8;

$required-text-color: #e02b27;
$progress-text-color: #e1e1e1;
$success-text-color: #37c121;
$success-color-darker: darken($success-text-color, 10%);

$border-color: #dadada;
$border-color-light: #eee;


/* Fonts */
$main-font: "Palanquin";
$light-font: "Palanquin-Light";
$medium-font: "Palanquin-Medium";
$semibold-font: "Palanquin-Semibold";
$bold-font: "Palanquin-Bold";
$icon-font: "Font Awesome 5 Free";

/* Grid */
$grid-max-width: 1240px;

/* Spacing */
$spacing: 20px;
$grid-margin: $spacing*2;
